*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(248, 219, 224);
}

.player-wrapper{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
  margin: auto;
  background-color: rgb(68, 54, 65);
  padding: 4rem 1rem;
  border-radius: 1rem;
  box-shadow: inset 8px 8px 12px rgba(253, 251, 251, 0.459), inset -8px -8px 12px rgba(17, 17, 17, 0.637);
  color: #fff;
}

.img-wrapper{
  margin-bottom: 2rem;
}

.img-wrapper img{
  object-fit: cover;
  border-radius: 50%;
  box-shadow: -5px -5px 18px rgba(8, 8, 8, 0.774), 4px 4px 15px rgba(175, 174, 174, 0.5);
}

.player-info{
  margin-bottom: 0.7rem;
  text-align: center;

}

.title, .artist{
  margin-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255, 0.4);
}

.title{
  font-size: 1.5rem;
}

.artist{
  font-size: 1.2rem;
}

.controls{
  margin-bottom: 1rem;
  display: flex;;
  align-items: center;
  justify-content: center;
}

.controls .btn{
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
}

.skip-btn{
  color: rgb(128, 128, 128);
}

.btn.play-btn{
  color: #fff;
  background-color: rgb(226, 157, 233);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  margin: 0 1rem;
  box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.8),
  -4px -4px 10px rgba(255, 255, 255, 0.308),
  inset 4px 4px 10px rgba(255, 255, 255, 0.4),
  inset -4px -4px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.controls .btn:hover{
  opacity: 0.8;
}

.next-info{
  text-align: center;font-size: 0.8rem;
}

/* ----------------------------- media */
/* ----------------------------- 1 */
@media screen and (max-width:500px){
  html{
    font-size: 13px;
  }  

  .container{
    padding: 1rem 0.2rem;
  }

  .player-wrapper{
    max-width: 300px;
  }

  .img-wrapper img{
    width: 15rem;
    height: 15rem;
  }
}

/* ----------------------------- 2 */
@media screen and (min-width:500px) and (max-width:769px){
  html{
    font-size: 15px;
  }

  .container{
    padding: 2rem 0.5rem;
  }
  
  .player-wrapper{
    max-width: 340px;
  }

  .img-wrapper img{
    width: 16rem;
    height: 16rem;
  }
}
/* ----------------------------- 3 */
@media screen and (min-width:769px){
  html{
    font-size: 16px;
  }
  
  .container{
    padding: 2rem;
  }

  .player-wrapper{
    max-width: 410px;
  }

  .img-wrapper img{
    width: 18rem;
    height: 18rem;
  }
}